<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|TestKnowliges_Data.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True;"
      providerName="System.Data.SqlClient"/>
    <add name="MyRoles"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ASPNETDB.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <roleManager enabled="true" cacheRolesInCookie="true"
          cookieName="TBHROLES" defaultProvider="MyRoleProvider">
          <providers>
              <add connectionStringName="MyRoles"
              applicationName="/" name="MyRoleProvider"
              type="System.Web.Security.SqlRoleProvider, System.Web,
                      Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
          </providers>
      </roleManager>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">        
        <forms loginUrl="~/login/login.aspx" />        
      </authentication>      
    </system.web>      
  <location path="profile">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>  
  <location path="test.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="testComplite.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="addTest.aspx">
    <system.web>
      <authorization>
        <allow roles="Teacher"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>

