<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add
      name="ConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\project\testKnowlige\testknowlige\TestKnowlige\AppData\testKnowlige.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;"
      providerName="System.Data.SqlClient"
  />
  </connectionStrings>
    <system.web>      
        <compilation debug="true" targetFramework="4.0" />
      <membership defaultProvider="MembershipProviderEx">
        <providers>
          <clear />
          <add name="MembershipProviderEx"
               requiresQuestionAndAnswer="false"
               passwordFormat="Hashed"
               enablePasswordReset="true"
               enablePasswordRetrieval="false"
               minRequiredPasswordLength="5"
               minRequiredNonalphanumericCharacters="0"
               connectionStringName="Ctest2009"
               applicationName="/"
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </providers>
      </membership>      
      <authentication mode="Forms">
        <forms loginUrl="~/login/login.aspx" />
      </authentication>
    </system.web>

</configuration>
