body 
{
    cursor: default;
}
input[type="submit"], a
{
    cursor: pointer;
    }

/*---------------------login----------------------------------------*/
.login,.CreateAccaunt,.ChangePassword
{
    width: 250px;
    margin: 0 auto;
    height: auto;    
    padding: 45px 10px 0 10px;
    background: #f2f2f2;
    position: relative;
    -o-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    
    -o-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    }
.login span, .CreateAccaunt span, .ChangePassword span
{    
    text-align: left;
    line-height: 30px;    
    }    
.login input[type="text"],.login input[type="password"],
.CreateAccaunt input[type="text"],.CreateAccaunt input[type="password"],.CreateAccaunt select,
.ChangePassword input[type="text"],.ChangePassword input[type="password"]
{
    float: right;
    }
.CreateAccaunt select
{
    width: 155px;
    height: 22px;
    }    
.login input[type="submit"], .CreateAccaunt input[type="submit"],
.ChangePassword input[type="submit"]
{
    width: 120px;
    height: 30px;
    margin: 15px 0 5px 0;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;  
    background: #4585c7;  
    color: #ffffff;
    }

.login input[type="submit"]:hover,.CreateAccaunt input[type="submit"]:hover,
.ChangePassword input[type="submit"]:hover
{
    background: #3070a2;  
    }


.loginHeader, .changeheader
{
    background: #4585c7;
    width: 270px !important;
    display: block;    
    line-height: 30px;    
    text-align: center !important;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;    
    
    -o-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    
    -o-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    }
.forgot, .register
{
    font-size: 14px;
    line-height: 30px;
    color: #4585c7;
    text-decoration: none;
    }  
.forgot
{
    float: right;    
    }      
.forgot:hover, .register:hover
{
    text-decoration: underline;
    }
    
/*-----------------------------CreateAccaunt-------------------------*/
.CreateAccaunt
{
    padding: 35px 10px 10px 10px;
    }
.question
{
    width: 100%;
    }

/*---------------------------ChangePassword----------------------------*/    
.ChangePassword
{
    width: 320px !important;
    }
.ChangePassword input[type="submit"]
{
    margin: 15px 18px 5px 18px;
    }
.changeheader
{
    width: 100% !important;
    }    
.CreateAccaunt div+span, .ChangePassword div+span
{
    color: #ff0000;
    font-size: 12px;
    line-height: 12px !important;        
    }    
/*----------------------------------------------------------*/
