body {
}
form
{
    width: 900px;
    height: auto;
    margin: 0 auto;
    }
.header
{
    height: 150px;
    margin: 0 0 30px 0;
    }
.header img
{
    height:inherit;
    float: left;
    margin: 0 20px 0 0;
    }    
.header span
{
    display: block;
    font-family: Monotype Corsiva;
    font-size: 34px;
    line-height: 44px;
    }  
.question
{
    padding: 15px;
    border-bottom: 2px ridge #999999;
    margin: 30px 0 10px 0;
    display:block;
    }   
.answer
{    
    margin: 5px auto 5px 15px;    
    width: auto; 
    display:block;
    }     
#home
{
    display:block;
    text-align: center;
    margin: 20px 0 0 0;
    color: #E5942A;
    text-decoration: none;    
    }    
#home:hover
{
    text-decoration: underline;
    }    